.MuiPaper-root .MuiAccordionSummary-content {
  margin: 0;
}

.MuiPaper-root .MuiAccordionSummary-root {
  min-height: 16px;
  padding: 0.3rem 0;
  flex-direction: row-reverse;
}

.MuiPaper-root .MuiAccordionSummary-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width:1279px) {
  .MuiPaper-root .MuiAccordionSummary-content {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.MuiCollapse-root .MuiPaper-root::before {
  height: 0px;
}

.MuiStepConnector-line.MuiStepConnector-lineVertical {
  min-height: 5px;
  border-left: 0px;
}

.MuiStep-root .MuiStepContent-root {
  border-left: 0px;
}

.keep-button-text-case {
  text-transform: none !important;
  font-weight: 550 !important;
}

html, body, #root, #root>div {
  height: 100%;
}

body {
  background-color: black;
}

.canvas-as-background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.text-white {
  color: white;
}

.text-secondary {
  color: lightgray;
}

.rotate {
  animation: rotate 2s linear infinite; 
}
@keyframes rotate {
  to{ transform: rotateY(360deg); }
}

.filter-invert {
  filter: invert();
}

.slider {
  width: 300px;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
